
.header {
    width: 80%;
    max-width: 1000px;
    min-width: 800px;
    height: 100px;
    padding-top: 25px;
    text-align: center;
    scroll-behavior: initial;
    position: fixed;
    background-color: white;
    top: 0px;
}

.title {
    float: left;
    padding-left: 2.5%;
    font-weight: lighter;
    font-size: 40px;
    color: #1A3212;
    max-width: 400px;
}

.page-title {
    float: right;
    padding-left: 2.5%;
    padding-top: 25px;
    font-weight: 500;
    font-size: 24px;
    color: #1A3212;
    max-width: 400px;
}

.tab-bar {
    min-width: 400px;
    height: 100%;
    display: inline;
    float: right;
    text-align: right;
}

#tab-bar-item {
    margin-left: -2%;
    margin-top: 2.5%;
}

.links {
    width: 40%;
    display: inline;
    float: right;
    text-align: right;
}

.link-img {
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    width: 50px;
    height: 50px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    border-radius: 50%;
}

.link-img:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.35);
}

body {
    width: 80%;
    max-width: 1000px;
    min-width: 800px;
    position: relative;
    margin: auto;
    margin-top: 150px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-family: sans-serif;
    /* position: static; */
}

#home-page {
    margin-top: 225px;
}

h2 {
    text-align: left;
    font-weight: lighter;
    font-size: 30px;
    color: #1A3212;
}

h3 {
    text-align: left;
    font-weight: lighter;
    font-size: 24px;
    color: #1A3212;
}

a {
    color: #74886D;
    text-decoration: none;
}

a:hover {
    color: #9E9E9E;
}

hr {
    border-top: 0.75px solid #1A3212;
}

.coming-soon {
    width: 100%;
    text-align: center;
    position: relative;
    top: 200px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.profile-img {
    height: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 50%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.container {
    width: 100%;
    min-height: 600px;
    text-align: center;
    background-color: transparent;
    /* margin-top: 100px; */
}

.shelf {
    margin-top: 80px;
}

.wrapper {
    width: 22%;
}

.card {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.15s;
    transition-timing-function: ease-in-out;
    border-radius: 50%;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.35);
}

.card-title {
    margin: auto;
    margin-top: 20px;
    font-size: 18px;
    font-weight: normal;
    color: #1A3212;
}

.card-img {
    transition: 0.15s;
    transition-timing-function: ease-in-out;
    width: 100%;
    object-fit: fill;
}

iframe  {
    width: 45%;
    margin-top: 25px;
    margin-bottom: 25px;
    float: right;
}

iframe {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.post-img{
    transition: 0.15s;
    transition-timing-function: ease-in-out;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}

.rendering, .design {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

footer {
    margin-top: 100px;
    margin-bottom: 25px;
    text-align: center;
}

#footer-hr {
    width: 65%;
    margin: auto;
    visibility: hidden;
}

#floor {
    width: 100%;
    float: none;
    text-align: center;
    position: relative;
}

#left-wrapper {
    float: left;
}

#center-wrapper {
    display: inline-block;
    margin: 0 auto;
}

#right-wrapper {
    float: right;
}

#footer-text {
    width: 100%;
    margin: auto;
    text-align: center;
    bottom: 0%;
    color: #1A3212;
}
